<p style="color: green"><%= notice %></p>
<%= render @todo %>

<%= link_to "Edit the task", edit_todo_path(@todo) %>
|
<%= link_to "Back to create", new_todo_path %>
<br>
<br>
<%= button_to "Complete the task", @todo, method: :delete %>
