<%= form_with(model: @task, url: assign_task_path(@task), method: :post) do |form| %>
  <div class="field">
    <%= form.label :assignee_id, 'Assign To' %>
    <%= form.collection_select :assignee_id, @available_users, :id, :email, prompt: 'Select User' %>
  </div>
  <div class="actions">
    <%= form.submit 'Assign Task', class: 'btn btn-primary' %>
  </div>
<% end %>

<br>
<%= link_to 'Back', tasks_path, class: 'btn btn-secondary btn-sm' %>
