<h1>Sign Up Page</h1>   
<%= form_with model: @user, url: signup_path do |form| %>
    <% if form.object.errors.any? %>
    <div class = 'alert alert-danger'>
        <% form.object.errors.full_messages.each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <% end %>
    
    <div class="mb-3">   
        <%= form.label :email %><br>
        <%= form.text_field :email, class: "form-control", placeholder: 'steve@apple.com' %>
    </div>
    <div class="mb-3">
        <%= form.label :password %><br>
        <%= form.password_field :password, class: "form-control", placeholder: 'password(atleast 6 charcters)' %>
    </div>
    <div class="mb-3">
        <%= form.label :password_confirmation %><br>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: 'password(atleast 6 charcters)' %>
    </div>
    <%= form.hidden_field :role, value: "noob" %><br>
    <div class="mb-3">
        <%= form.submit "Sign Up", class: "btn btn-info "%>
    </div>
<% end %>